# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
*.tlog
*.lock
.vs/GK1_Silnik2D/v17/Browse.VC.opendb
*.db
*.pdb
*.idb
.vs/GK1_Silnik2D/v17/.suo
*.vsidx
*.db-shm
*.db-wal
*.ipch
.vs/GK1_Silnik2D/v17/.suo
*.opendb
.vs/GK1_Silnik2D/v17/.suo
*.idb
*.pdb
*.ilk
*.pdb
